<div class="container">
    <h1>Name generator </h1>
    <h3> Your result: </h3>
    <h2><%= @name %> </h2>

    <div>
        <%= link_to "Another name", show_path, :class => "btn btn-primary"%>
     <%= link_to "Back", root_path, :class => "btn " %>
    </div>

</div>
