<div class="container">
    <h1>Name generator </h1>
    <h3> Your result: </h3>
    <h2><%= @name %> </h2>

    <div>

        <a onclick="window.location.href=''" class="btn btn-primary">Another name</a>

     <%= link_to "Back", root_path, :class => "btn " %>
    </div>

</div>
